In [32]:
import pandas as pd

compensation = pd.read_csv('Compensation.csv')
print(compensation.head())

   Organization Group Code Job Family Code Job Code Year Type  Year  \
0                        3            1400     1404    Fiscal  2019
1                        3            2900     2918    Fiscal  2019
2                        3            2900     2918    Fiscal  2019
3                        3            2900     2918    Fiscal  2019
4                        3            9900     9910    Fiscal  2019

                         Organization Group Department Code      Department  \
0  Human Welfare & Neighborhood Development             HSA  Human Services
1  Human Welfare & Neighborhood Development             HSA  Human Services
2  Human Welfare & Neighborhood Development             HSA  Human Services
3  Human Welfare & Neighborhood Development             HSA  Human Services
4  Human Welfare & Neighborhood Development             HSA  Human Services

   Union Code                   Union  ... Employee Identifier  Salaries  \
0       790.0  SEIU, Local 1021, Misc  ...            37486688  60720.01
1       535.0  SEIU, Local 1021, Misc  ...            37486043  89106.03
2       535.0  SEIU, Local 1021, Misc  ...            37615772  85581.11
3       535.0  SEIU, Local 1021, Misc  ...            37495705  89106.07
4       790.0  SEIU, Local 1021, Misc  ...            39596095   2585.45

   Overtime  Other Salaries  Total Salary  Retirement  Health and Dental  \
0      0.00            0.00      60720.01    13653.20           14733.76
1      0.00         1540.00      90646.03    17327.20           14733.76
2   3355.94          337.75      89274.80    16359.16           14151.56
3      0.00         2164.00      91270.07    17446.56           14733.76
4      0.00            0.00       2585.45        0.00               0.00

   Other Benefits  Total Benefits  Total Compensation
0         4904.34        33291.30            94011.31
1         7401.92        39462.88           130108.91
2         7096.21        37606.93           126881.73
3         7253.08        39433.40           130703.47
4          227.78          227.78             2813.23

[5 rows x 22 columns]

In [33]:
columns = ['Department','Job', 'Employee Identifier', 'Total Salary','Retirement','Health and Dental','Other Benefits','Total Benefits', 'Total Compensation', 'Year']
compensation = compensation[columns]
compensation

,Department,Job,Employee Identifier,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation,Year
0,Human Services,Clerk,37486688,60720.01,13653.20,14733.76,4904.34,33291.30,94011.31,2019
1,Human Services,HSA Social Worker,37486043,90646.03,17327.20,14733.76,7401.92,39462.88,130108.91,2019
2,Human Services,HSA Social Worker,37615772,89274.80,16359.16,14151.56,7096.21,37606.93,126881.73,2019
3,Human Services,HSA Social Worker,37495705,91270.07,17446.56,14733.76,7253.08,39433.40,130703.47,2019
4,Human Services,Public Service Trainee,39596095,2585.45,0.00,0.00,227.78,227.78,2813.23,2019
...,...,...,...,...,...,...,...,...,...,...
840500,HSA Human Services Agency,Public Svc Aide-Public Works,53933,2155.65,0.00,928.91,166.89,1095.80,3251.45,2014
840501,HSA Human Services Agency,Public Svc Aide-Public Works,53933,3807.56,0.00,1698.51,294.79,1993.30,5800.86,2013
840502,ENV Environment,Environmental Spec,53934,73138.90,10361.19,12668.95,5900.50,28930.64,102069.54,2016
840503,ENV Environment,Environmental Spec,53934,21067.20,0.00,3640.01,1683.26,5323.27,26390.47,2015
840504,ENV Environment,Environmental Spec,53934,76115.41,14022.47,12959.62,6142.30,33124.39,109239.80,2016

In [34]:
compensation = compensation[(compensation["Year"] == 2018) | (compensation["Year"] == 2019)| (compensation["Year"] == 2020)| (compensation["Year"] == 2021)| (compensation["Year"] == 2022)]
compensation

,Department,Job,Employee Identifier,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation,Year
0,Human Services,Clerk,37486688,60720.01,13653.20,14733.76,4904.34,33291.30,94011.31,2019
1,Human Services,HSA Social Worker,37486043,90646.03,17327.20,14733.76,7401.92,39462.88,130108.91,2019
2,Human Services,HSA Social Worker,37615772,89274.80,16359.16,14151.56,7096.21,37606.93,126881.73,2019
3,Human Services,HSA Social Worker,37495705,91270.07,17446.56,14733.76,7253.08,39433.40,130703.47,2019
4,Human Services,Public Service Trainee,39596095,2585.45,0.00,0.00,227.78,227.78,2813.23,2019
...,...,...,...,...,...,...,...,...,...,...
504284,Public Health,Speech Pathologist,50876013,75328.45,14145.34,8050.73,5184.84,27380.91,102709.36,2022
504285,Public Health,Pharmacy Technician,52066874,97173.81,17909.83,14374.59,7340.61,39625.03,136798.84,2022
504286,Building Inspection,Building Inspector,52026845,142245.86,26988.49,18264.40,10744.36,55997.25,198243.11,2022
504287,Public Health,"Radiologic Tech I, II, III",50855347,172006.69,29271.75,16586.87,12062.56,57921.18,229927.87,2022
504288,Public Health,Food Service Worker,50878833,36803.39,7773.91,8293.43,3015.03,19082.37,55885.76,2022

In [35]:
compensation = compensation[(compensation["Department"] == 'Department of Technology')]
compensation

,Department,Job,Employee Identifier,Total Salary,Retirement,Health and Dental,Other Benefits,Total Benefits,Total Compensation,Year
1025,Department of Technology,IS Engineer-Principal,37461201,158420.02,29624.08,14433.94,11031.82,55089.84,213509.86,2018
1030,Department of Technology,IT Operations Support Admn III,37481541,98193.37,18837.37,14328.53,8054.43,41220.33,139413.70,2018
4854,Department of Technology,IS Engineer-Principal,40783770,174752.10,34046.82,14950.30,11556.21,60553.33,235305.43,2019
4856,Department of Technology,Storekeeper,41866092,71204.40,14216.50,15031.18,5601.35,34849.03,106053.43,2019
4857,Department of Technology,Communication Line Sprv1,41396145,162122.67,24730.42,17445.73,11271.71,53447.86,215570.53,2019
...,...,...,...,...,...,...,...,...,...,...
503795,Department of Technology,Electrical Line Helper,50881869,104973.92,19772.59,19820.24,7934.80,47527.63,152501.55,2022
503798,Department of Technology,Fire Alarm Dispatcher,50880630,113642.60,19751.50,15821.32,8708.87,44281.69,157924.29,2022
503802,Department of Technology,Project Manager 2,50854079,181874.03,34094.95,16101.45,12240.88,62437.28,244311.31,2022
503803,Department of Technology,IT Operations Support Admin II,50870347,108811.69,19728.35,16101.45,8516.02,44345.82,153157.51,2022
503804,Department of Technology,Prnpl Admin Analyst II,50863064,174146.42,32714.71,16101.45,12159.03,60975.19,235121.61,2022

In [36]:
compensation.to_csv('Technology_Compensation.csv')